<div class="about-container">
    <h2>About the Angular Crash Course</h2>
    <!-- <h3>Hello parameter {{param? param: "EMPTY"}}</h3>
    <h3>Course {{queryParam? queryParam: "EMPTY"}}</h3> -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corrupti incidunt corporis quos magni distinctio
        illum quia quas nesciunt reiciendis praesentium cumque dolores, totam maxime culpa harum accusamus laborum
        temporibus.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis illo, quia iste ex excepturi totam deserunt ipsum
        distinctio hic? Alias sunt architecto minus aperiam dolore dicta, aut id soluta cum!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero ad exercitationem, voluptatem reprehenderit ea
        omnis corporis, inventore porro aliquid impedit, est facere eum eaque hic accusantium voluptatum vel iusto.</p>

</div>